IOT Billing/HGB Spec/UCM/output/queryCust_OUTPUT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) by danlin (foya) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="msgInfo">
		<xs:annotation>
			<xs:documentation>錯誤碼</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="errCde" type="xs:string" nillable="true"/>
			<xs:element name="errMsg" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerInfo">
		<xs:annotation>
			<xs:documentation>客戶主要資訊</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="customerIdInfo" type="customerIdInfo"/>
			<xs:element name="cycleInfo" type="cycleInfo"/>
			<xs:element name="activityDateInfo" type="activityDateInfo"/>
			<xs:element name="profileAddrInfoList" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="profileAddrInfo" type="profileInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="profileNameInfoList" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="profileNameInfo" type="profileInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="attributeParamInfoList" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="attributeParamInfo" type="attributeParamInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateInfo" type="updateInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="updateInfo">
		<xs:sequence>
			<xs:element name="updateDate" type="xs:dateTime"/>
			<xs:element name="updateUser" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attributeParamInfo">
		<xs:annotation>
			<xs:documentation>AttributeParam資訊</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attributeName" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attributeValue" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="spLinkType">
		<xs:annotation>
			<xs:documentation>profile linkType(A/O/S/D)
A - Account
O - other
B - BEN
S - subscriber
D-additional</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="profileInfo">
		<xs:annotation>
			<xs:documentation>profileInfo資訊</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="linkType" nillable="true">
				<xs:simpleType>
					<xs:restriction base="spLinkType">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="effDate" type="xs:dateTime" nillable="true"/>
			<xs:element name="elem1" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem2" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem3" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem4" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem5" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem6" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem7" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem8" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem9" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem10" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem11" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem12" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem13" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem14" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem15" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem16" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem17" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem18" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem19" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="elem20" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="activityDateInfo">
		<xs:annotation>
			<xs:documentation>日期相關欄位-即effData</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="effDate" type="xs:dateTime" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cycleInfo">
		<xs:annotation>
			<xs:documentation>出帳週期相關欄位</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="newCycle" type="xs:long"/>
			<xs:element name="updateCycleDate" type="xs:dateTime" nillable="true"/>
			<xs:element name="cycle" type="xs:long" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerIdInfo">
		<xs:annotation>
			<xs:documentation>customerId 主要ID 資料</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="customerId" type="xs:long" nillable="true"/>
			<xs:element name="externalId" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="beId" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CM_OUTPUT">
		<xs:annotation>
			<xs:documentation>CM_Root </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="msgInfo" type="msgInfo"/>
				<xs:element name="customerInfo">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="customerInfo">
								<xs:sequence>
									<xs:element name="custType" nillable="true">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="custSubType" nillable="true">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
